 <!-- About Section -->
    <section class="" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>안녕하세요. 2016년부터 Backend Software Engineer로 일하고 있습니다.</p>
                </div>
                <div class="col-lg-4">
                    <p>효율적이고 확장성 있는 시스템의 설계 및 개발에 목표를 두고 항상 노력하는 Engineer입니다.</p>
                </div>
                <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
                -->
            </div>
        </div>
    </section>
