 <!-- About Section -->
    <section class="" id="workexperience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Work Experience</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-sm-3">
                        <p>(주)호윤</p>
                        Samsung Electronics VD outsourcing<br>
                        2016 ~ 현재
                    </div>
                    <div class="col-sm-9">
                        <p>Samsung TV LYNK DRM</p>
                        <li>기간
                            <ul>
                                <dd>2016.04 ~ 현재</dd>
                            </ul>
                        </li>
                        <li>내용
                            <ul>
                                <dd>Samsung TV에 포함되는 컨텐츠 보호 서비스인 LYNK DRM의 메인 개발자로 일하고 있습니다</dd>
                                <dd>LIVE/VOD 스트리밍 컨텐츠 보호를 위한, 컨텐츠의 암호화 Server와 복호화 Client를 개발 및 유지보수 하고 있습니다</dd>
                            </ul>
                        </li>
                        <li>역할</li>
                            <ul>
                                <dd>Linux 기반 LIVE 컨텐츠 암호화 Server 개발 및 유지보수</dd>
                                <dd>Spring 기반 LIVE/VOD 컨텐츠 암호화 Server 개발 및 유지보수</dd>
                                <dd>Linux 기반 컨텐츠 복호화 Client 개발 및 유지보수</dd>
                            </ul>
                        <li>사용 기술 스택 및 지식</li>
                            <ul>
                                <dd>Linux, C/C++, Java, Spring, DRM, MPEG</dd>
                            </ul>

                        <br>
                        <br>
                    </div>

                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-9">
                        <p>Samsung TV AISR 서비스 DRM 적용</p>
                        <li>기간
                            <ul>
                                <dd>2020.04 ~ 2021.03</dd>
                            </ul>
                        </li>
                        <li>내용
                            <ul>
                                <dd>Samsung TV AISR(upscaling) 컨텐츠의 암호화/복호화 적용을 위한 개발을 맡았습니다</dd>
                            </ul>
                        </li>
                        <li>역할</li>
                            <ul>
                                <dd>컨텐츠 암호화/복호화 시나리오 설계</dd>
                                <dd>JAVA 기반 컨텐츠 암호화 Packager 개발</dd>
                                <dd>Linux/JAVA 기반 컨텐츠 복호화 Client 개발</dd>
                            </ul>
                        <li>사용 기술 스택 및 지식</li>
                            <ul>
                                <dd>Linux, C/C++, JAVA, DRM, MPEG, JPEG</dd>
                            </ul>

                        <br>
                        <br>
                    </div>

                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-9">
                        <p>Samsung TV S/W Pro:Idiom</p>
                        <li>기간
                            <ul>
                                <dd>2019.04 ~ 2020.03</dd>
                            </ul>
                        </li>
                        <li>내용
                            <ul>
                                <dd>Samsung TV S/W Pro:Idiom 라이브러리 적용 초기 개발에 참여했습니다</dd>
                            </ul>
                        </li>
                        <li>역할</li>
                            <ul>
                                <dd>Pro:Idiom 라이브러리 적용을 위한 인터페이스 개발 및 테스트</dd>
                            </ul>
                        <li>사용 기술 스택 및 지식</li>
                            <ul>
                                <dd>Linux, C/C++, DRM</dd>
                            </ul>

                        <br>
                        <br>
                    </div>

                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-9">
                        <p>Samsung TV Playready</p>
                        <li>기간
                            <ul>
                                <dd>2018.04 ~ 2019.03</dd>
                            </ul>
                        </li>
                        <li>내용
                            <ul>
                                <dd>Samsung TV 의 Netflix 컨텐츠 보호를 위한 Playready DRM의 서브 개발자로 참여했습니다</dd>
                            </ul>
                        </li>
                        <li>역할</li>
                            <ul>
                                <dd>Playready API를 이용한 CDM 구현</dd>
                            </ul>
                        <li>사용 기술 스택 및 지식</li>
                            <ul>
                                <dd>Linux, C/C++, DRM</dd>
                            </ul>

                        <br>
                        <br>
                    </div>

                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-9">
                        <p>Samsung TV UHD 방송 복호화 모듈</p>
                        <li>기간
                            <ul>
                                <dd>2017.04 ~ 2018.03</dd>
                            </ul>
                        </li>
                        <li>내용
                            <ul>
                                <dd>Samsung TV의 지상파 UHD 방송 컨텐츠에 대한 복호화 모듈의 개발에서 서브 개발자로 참여했습니다</dd>
                            </ul>
                        </li>
                        <li>역할</li>
                            <ul>
                                <dd>컨텐츠 복호화 모듈 API 개발</dd>
                            </ul>
                        <li>사용 기술 스택 및 지식</li>
                            <ul>
                                <dd>Linux, C/C++, DRM, MPEG</dd>
                            </ul>

                    </div>
                </div>
                <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
                -->
            </div>
        </div>
    </section>
